* {
    font-family: arial;
    box-sizing: border-box;
}

html,body,.layout-outter {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.layout-outter {
    display: flex;
    flex-direction: row;

    .layout-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 2rem;
        max-width: 1100px;
        margin: auto;
        height: 100%;
        overflow: auto;

        & > h1:first-child {
            margin-top: 0px;
        }

        pre {
            position: relative;

            .copy-button {
                display: none;
                position: absolute;
                top: 1rem;
                right: 1rem;

                outline: none;
                border: 1px solid #888;
                background-color: #444;
                color: #fff;
                padding: 0.25rem 0.5rem;
            }

            &:hover {
                .copy-button {
                    display: block;
                }
            }
        }
    }

    .layout-nav {
        height: 100%;
        background-color: #333333;
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        .topper {

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
        }

        .jump-down {
            display: none;
        }

        .bottom {
            width: 100%;
        }
        
        h1 {
            color: #FFFFFF;
            font-size: 1.5rem;
        }


        .nav-image-wrapper {
            border-radius: 50%;
            max-width: 75%;
            padding-top: 1rem;
            padding-bottom: 1rem;


            .nav-image {
                background-color: #f5f4f1;
                border-radius: 50%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                width: 100%;
            }
        }

        .search-form {
            width: 100%;
            .nav-search-input {
                width: 100%;
                background-color: #555;
                border: 1px solid #444;
                color: #fff;
                text-align: center;
                margin-bottom: 0.5rem;
                padding: 0.5rem;
                outline: none;
            }
        }
    }

    .layout-footer {
        display: none;
    }
}

