


@media (max-width: 500px) {

    .layout-outter{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .layout-nav {
            width: 100%;
            height: auto;
            min-width: 100%;
            max-width: 100%;
            flex-direction: column;
            justify-content: center;

            .topper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            
            .nav-image-wrapper {
                width: 30%;
                padding-left: 1rem;
                padding-right: 1rem;
            }

            h1 {
                display: none;
            }

            nav {
                flex-grow: 1;
                width: 100%;
            }
            
        }

        .layout-content {
            overflow: visible;
            height: auto;
            max-width: 100%;
        }
    }

    html,body {
        overflow: hidden;
        max-width: 100%;
    }

    .post {

        pre {
            code {
                overflow-x: auto;
                overflow-y: hidden;
            }
        }
    }
    
}


