.post {
    max-width: 100%;

    h1:first-child {
        margin-bottom: 0px;
    }

    .date {
        font-style: italic;
        margin-bottom: 1rem;
        float: right;
    }

    .tags {
        margin-top: 0.5rem;
    }

    pre code {
        padding: 1rem;
        border-radius: 5px;
        display: block;
        background-color: #333;
        font-family: 'Courier New', Courier, monospace;
        color: #fff;
    }
}


.blog-overview {
    .overview-post {
        text-decoration: none;
        color: unset;
        display: block;
        margin-bottom: 1rem;

        background-color: #EEEEEE;
        padding: 1rem;
        border-radius: 1rem;

        .title {
            font-weight: bold;
            margin: 0px;
            padding: 0px;
            padding-bottom: 0.5rem;
        }

        .content {
            padding: 0px;
            margin: 0px;
        }
    }
}