.post {
    max-width: 100%;

    h1:first-child {
        margin-bottom: 0px;
    }

    .date {
        font-style: italic;
        margin-bottom: 1rem;
        float: right;
    }

    .tags {
        margin-top: 0.5rem;
    }

    code {
        border-radius: 5px;
        background-color: rgb(255, 220, 220);
        color: rgb(209, 0, 0);
        padding: 0.15rem 0.25rem;
        font-family: monospace;
        font-size: 1rem;
    }

   pre {
        background-color: #333;
        font-family: 'Courier New', Courier, monospace;
        color: #fff;
        border-radius: 5px;
        margin: 0px;
        padding: 0.5rem 1rem;
        code {
            &, * {
                font-family: 'Courier New', Courier, monospace !important;

            }
            background-color: transparent;
            color: #fff;
            margin: 0px;
            padding: 0px;
        }
    }
    
}


.blog-overview {
    width: 100%;

    .overview-post {
        text-decoration: none;
        color: unset;
        display: block;
        margin-bottom: 1rem;

        background-color: #EEEEEE;
        padding: 1rem;
        border-radius: 1rem;

        .title {
            font-weight: bold;
            margin: 0px;
            padding: 0px;
            padding-bottom: 0.5rem;
            padding-top: 0rem;
        }

        .content {
            padding: 0px;
            margin: 0px;
        }

        .previewImage {
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            margin-bottom: 1rem;
        }
    }
}