
.search-overview {
    width: 100%;
    .search-post {
        text-decoration: none;
        color: unset;
        display: block;
        margin-bottom: 1rem;

        background-color: #EEEEEE;
        padding: 1rem;
        border-radius: 1rem;

        .title {
            font-weight: bold;
            margin: 0px;
            padding: 0px;
            padding-bottom: 0.5rem;
        }

        .content {
            padding: 0px;
            margin: 0px;
        }

    }
}

.search-input {
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
}