.tags {

    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 1rem;

    .tag {
        display: block;
        padding: 0.25rem 0.5rem;
        background-color: #CCCCCC;

        border-radius: 5px;

        &.tag-tech {
            background-color: #f3c96e;
        }

        &.tag-blog {
            background-color: #8be4ff;
        }
    }
}