.tags {

    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 1rem;

    .tag {
        display: block;
        padding: 0.25rem 0.5rem;
        background-color: #CCCCCC;
        color: #000;
        text-decoration: none;

        border-radius: 5px;

    }
}