---
title: Hello World
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bundle.css" rel="stylesheet"/>
    <link href="/assets/prism-theme.css" rel="stylesheet"/>
    <script src="/assets/jquery-3.7.1.min.js"></script>

    <title>{{ "Tag " + tag if tag else title }}</title>
  </head>
  <body>
    <div class="toast-handler"></div>
    </div>
    <div class="layout-outter">
      <div class="layout-nav">
        <div class="topper">
          <a href="/" class="nav-image-wrapper"> 
            <img src="/assets/logo.png" class="nav-image">
          </a>
          <h1>Melvin Suter</h1>
      
          <div class="search-form">
            <input type="search" class="nav-search-input" placeholder="Search..."/>
          </div>
        </div>

        <div class="jump-down">Menu</div>

        <div class="bottom">
          {% include "_includes/layouts/nav.njk" %}
        </div>
      </div>
      <div class="layout-content">
        {{ content | safe }}
      </div>

      <div class="layout-footer">
        {% include "_includes/layouts/nav.njk" %}
      </div>
    </div>

    <script src="/assets/app.js"></script>
  </body>
</html>