---
title: Gallery
layout: layouts/page.njk
images: []
---


{{ content | safe }}


<style>
    .image-library {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }


    .image-library .img {
        flex-grow: 1;
        height: 30vh
    }

    .image-library .img img {
        min-width: 100%;
        max-height: 100%;
        object-fit: cover;

    }

    .image-viewer {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #333C;
        justify-content: center;
        align-items: center;
    }
    .image-viewer  img {
        max-height: 100%;
        max-width: 100%;
        padding: 1rem;
    }
</style>


<div class="image-viewer">
        <img class="image-viewer-element"/>
</div>

<div class="image-library">
{%- for img in images %}
    <div class="img">
        <img src="https://suterdev-public-resized.s3.eu-west-2.amazonaws.com/github-pages-public/{{ img }}"/>
    </div>
{%- endfor %}
</div>


<script>
(() => {
    document.querySelectorAll(".img").forEach(element => {
        element.addEventListener("click",(ev) => {
            document.querySelector(".image-viewer").style.display = "flex";
            document.querySelector(".image-viewer-element").src = ev.srcElement.currentSrc.replace('suterdev-public-resized','suterdev-public');
        });
    });

    document.querySelector(".image-viewer").addEventListener("click",(ev) => {
            document.querySelector(".image-viewer").style.display = "none";
    });

    document.querySelector(".image-viewer").style.display = "none";

})();
</script>