---
title: Hello World
layout: layouts/base.njk
previewImage: ""
---

<div class="post">
    <div class="header">
        <h1>{{ title }}</h1>
        <div class="date">{{ page.date | postDate }}</div>
    </div>

    

    <div class="tags">
        {%- for tag in tags -%}
            <a href="/tags/{{ tag }}" class="tag tag-{{ tag }}">{{ tag }}</a>
        {%- endfor -%}
    </div>

    {{ content | safe }}
</div>