---
layout: layouts/base.njk
---

{{ content | safe }}

<div class="blog-overview">
{% set taglist = collections[ tag ] %}
{%- for post in taglist | reverse -%}
  <a href="{{post.url}}" class="overview-post">
    {% if post.data.previewImage != "" %}
    <div class="previewImage">
        <img src="https://suterdev-public-resized.s3.eu-west-2.amazonaws.com/github-pages-public/{{ post.data.previewImage }}"/>
    </div>
    {% endif %}
    <div class="title">{{ post.data.title }}</div>
    <div class="content">
      {{ post.content | trimShort | removeHTML }}
    </div>
  </a>
{%- endfor -%}
</div>
