---
layout: layouts/base.njk
title: Home
date: 1970-12-21
tags: 
- page
- nav
---

<h1>Welcome</h1>



<center style="margin-bottom: 2rem;">
Kiwi welcomes you to this Knowledge-Base. Sadly Kiwi can't wave. (It has no arms.)
<img src="/assets/home_logo.png" style="display: block; margin: 1rem;"/>
But you are welcome to pet it and look around. If you wanna get some news, here are my newest blog entries:
</center>


<div class="blog-overview">
    {% set postslist = (collections.blog | reverse).slice(0,5) %}

{%- for post in postslist -%}
  <a href="{{post.url}}" class="overview-post">
    {% if post.data.previewImage != "" %}
    <div class="previewImage">
        <img src="https://suterdev-public-resized.s3.eu-west-2.amazonaws.com/github-pages-public/{{ post.data.previewImage }}"/>
    </div>
    {% endif %}
    <div class="title">{{ post.data.title }}</div>
    <div class="content">
      {{ post.content | trimShort | removeHTML }}
    </div>
  </a>
{%- endfor -%}
</div>